* {
    margin: 0;
    padding: 0;
}


#sidepanel{
    display: none;
}

.all {
    width: 100%;
    max-width: 100%;
}

body {
    /*background-color: #f6f6f6;*/
    background-color: #ECEFF7;
}

.reponame {
    width: 100%;
    max-width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: #F9F9F9;
    margin-bottom: 20px;
}

.reponame .repo {
    /*width: 20%;*/
    flex: 1;
    font-weight: bold; /* 加粗 */
    font-size: 16px; /* 字体大小 */
    /*font-family: Arial, sans-serif; !* 字体类型 *!*/
}

.reponame .repo-item {
    flex: 9;
    text-align: left;
    /*width: 80%;*/
    margin-bottom: 0 !important;
    margin-left: 10px;
    font-size: 16px; /* 字体大小 */
    word-break: break-all;;
    /*font-family: Arial, sans-serif; !* 字体类型 *!*/
}

/*#title {*/
/*    margin-left: 10px; !* 调整间距 *!*/
/*}*/

.item {
    /*display: none;*/
}

.container {
    /*position: relative;*/
    /*min-height:100vh;*/
}

.content {

    display: none;
    /*display: block;*/
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /*max-width: 600px;*/
    max-width: 90%;
    margin: 10px auto;
    /*border-radius: 10px;*/
}

.item_title {
    font-weight: bold;
    font-size: 16px;
    border-bottom: 2px solid #3498db; /* 添加标题底部边框并使用深蓝色 */
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.item_content {
    /*min-height: 20vh;*/
    padding: 10px;
    font-family: Arial, sans-serif;
    /*font-size: 1em;*/
    border: 1px solid #e1e1e1; /* 使用浅灰色边框 */
    border-radius: 5px;
    margin-bottom: 15px;
    background-color: #ffffff; /* 白色背景 */
    white-space: pre-line;
    word-break: break-all;
    font-size: 14px;
}
/*,
  "content_scripts": [
    {
      "js": [
        "content-script.js"
      ],
      "matches": [
        "https://github.com/*"
      ],
      "injection": [
        "css/Content_Button.css",
        "bootstrap/css/bootstrap.min.css",
        "bootstrap/js/bootstrap.min.js"
      ],
      "run_at": "document_end",
      "all_frames": true
    }
  ]*/

.loader-container {

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*display: flex;*/
    /*flex-direction: column;*/
    text-align: center;
    /*display: none;*/
    /*align-items: center;*/
    /*justify-content: center;*/

}

.loader {
    display: block;
    border: 5px solid white; /* Light grey */
    border-top: 3px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
    /*margin-left: 15%;*/
    margin: 0 auto;

}

#loadcontent {
    padding-top: 20px;
    /*margin-left: 1px;*/
    /*padding-left: 0.2em;*/
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.footer {
    display: flex;
    text-align: center;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /*width: 100%!important;*/
    background-color: #f9f9f9;
    padding: 10px;
    /*text-align: center;*/
    /*position: absolute;*/
    /*bottom: 0;*/
    width: 100%;



}

.footerimg {
    /*margin-top: 3px;*/
    width: 25px;
    height: 25px;
    border-radius: 9px;
    margin-right: 7px;
}

.footer span {
    margin-right: 7px;
    /*font-size: 25px;*/
}

