flask-sqlalchemy==3.1.1
flask-cors==3.0.10
flask==2.2.5
pyyaml
python-gitlab
openai==0.27.8
aliyun-python-sdk-core
aliyun-python-sdk-eci
alembic
paypalrestsdk
alipay-sdk-python==3.6.640
typed_ast
click
httpx
alibabacloud_dysmsapi20170525
certifi
apscheduler
flask-limiter
boto3
# yum install mysql-devel gcc gcc-devel python-devel
# mysqlclient