<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiassistant.mapper.TargetMapper">

    <insert id="insertTarget" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO guanshui_target (target_type, target_name)
        VALUES (#{targetType}, #{targetName})
    </insert>

    <select id="getTargetList" resultType="com.aiassistant.model.Target">
        SELECT * FROM guanshui_target
    </select>

    <select id="selectById" resultType="com.aiassistant.model.Target">
        select * from guanshui_target where id = #{id}
    </select>

</mapper>