<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.aiassistant.mapper.UserMapper">

    <resultMap id="allMap" type="com.aiassistant.model.UserModel">
        <result column="user_nicename" property="userNiceName" />
        <result column="user_email" property="userEmail" />
        <result column="user_url" property="userUrl" />
        <result column="user_status" property="userStatus" />
        <result column="display_name" property="displayName" />
    </resultMap>

    <select id="selectOne" resultType="java.util.Map">
        select *
        from wp_users
                 limit 1
    </select>

    <select id="selectAll" resultMap="allMap">
        select *
        from devllmops.wp_users
    </select>

</mapper>